@{
    Layout = null;
}
<head>
    <link href="~/Content/dropzone.css" rel="stylesheet" />
    <script src="~/Scripts/dropzone.js"></script>
    <title>Hello</title>

</head>

<body>
    <form action="~/Areas/mmadmin/Post/Create" class="dropzone"
          id="my-awesome-dropzone"></form>
</body>
