﻿<!DOCTYPE html>
<html lang="en-US" class="modern">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel='stylesheet' id='sc-frontend-style-css' href='~/Content/frontend-style-ver=4.0.css' type='text/css' media='all' />
    <link rel='stylesheet' id='main-style-css' href='~/Content/style-ver=4.0.css' type='text/css' media='all' />
    <link rel='stylesheet' id='redux-google-fonts-css' href='http://fonts.googleapis.com/css?family=Oswald%7CLato&subset=latin&ver=1411386557' type='text/css' media='all' />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    
    <style type="text/css">
        .main-menu > ul > li:hover > a {
            color: #333;
        }

        .secondary-menu ul > li:hover > a {
            color: #ffcc0d;
        }

        .main-menu > ul > .link-arrow > a:after {
            border-color: transparent transparent #ffcc0d;
        }

        .main-menu > ul > li > .sub-menu {
            border-top-color: #ffcc0d;
        }

        .modern .content-over-image figure:before {
            opacity: 0.1;
        }

        #searchform input, #searchform button {
            color: #ffffff;
        }

        .modern .content-over-image:hover figure:before {
            opacity: 0.7;
        }

        .main-menu .sub-menu .sub-links a:after {
            background-color: #ffffff;
        }

        .sidebar .widget {
            border-bottom: 1px solid #000;
        }

        .footer-sidebar .widget_rss li:after, .footer-sidebar .widget_pages li a:after, .footer-sidebar .widget_nav_menu li a:after, .footer-sidebar .widget_categories ul li:after, .footer-sidebar .widget_recent_entries li:after, .footer-sidebar .widget_recent_comments li:after {
            background-color: #8c919b;
        }

        .footer-sidebar .widget_ti_latest_comments .comment-text:after {
            border-bottom-color: #242628;
        }

        .footer-sidebar .widget_ti_latest_comments .comment-text:before {
            border-bottom-color: #585b61;
        }

        .footer-sidebar .widget_ti_latest_comments .comment-text {
            border-color: #585b61;
        }

        .sub-menu-columns .sub-menu .sub-links > .menu-item-has-children > a {
            color: #ffcc0d;
        }

        

        @@media only screen and (min-width: 751px) {
            #gallery-carousel, #gallery-carousel .gallery-item {
                height: 580px;
            }
        }
    </style>
    <style type="text/css">
        .main-menu > ul > li:hover > a {
            color: #333;
        }

        .secondary-menu ul > li:hover > a {
            color: #ffcc0d;
        }

        .main-menu > ul > .link-arrow > a:after {
            border-color: transparent transparent #ffcc0d;
        }

        .main-menu > ul > li > .sub-menu {
            border-top-color: #ffcc0d;
        }

        .modern .content-over-image figure:before {
            opacity: 0.1;
        }

        #searchform input, #searchform button {
            color: #ffffff;
        }

        .modern .content-over-image:hover figure:before {
            opacity: 0.7;
        }

        .main-menu .sub-menu .sub-links a:after {
            background-color: #ffffff;
        }

        .sidebar .widget {
            border-bottom: 1px solid #000;
        }

        .footer-sidebar .widget_rss li:after, .footer-sidebar .widget_pages li a:after, .footer-sidebar .widget_nav_menu li a:after, .footer-sidebar .widget_categories ul li:after, .footer-sidebar .widget_recent_entries li:after, .footer-sidebar .widget_recent_comments li:after {
            background-color: #8c919b;
        }

        .footer-sidebar .widget_ti_latest_comments .comment-text:after {
            border-bottom-color: #242628;
        }

        .footer-sidebar .widget_ti_latest_comments .comment-text:before {
            border-bottom-color: #585b61;
        }

        .footer-sidebar .widget_ti_latest_comments .comment-text {
            border-color: #585b61;
        }

        .sub-menu-columns .sub-menu .sub-links > .menu-item-has-children > a {
            color: #ffcc0d;
        }


    </style>
    <style type="text/css" title="dynamic-css" class="options-output">
        h1, h2, h3, h4, h5, h6, .main-menu a, .secondary-menu a, .widget_pages, .widget_categories, .widget_nav_menu, .tagline, .sub-title, .entry-meta, .entry-note, .read-more, #submit, .ltr .single .entry-content > p:first-of-type:first-letter, input#s, .single-author-box .vcard, .comment-author, .comment-meta, .comment-reply-link, #respond label, .copyright, #wp-calendar tbody, .latest-reviews i, .score-box .total {
            font-family: Oswald;
            font-weight: normal;
            font-style: normal;
        }

        .title-with-sep, .title-with-bg, .classic-layout .entry-title, .posts-slider .entry-title {
            font-weight: normal;
            font-style: normal;
            font-size: 42px;
        }

        .main-menu > ul > li {
            font-weight: normal;
            font-style: normal;
            font-size: 14px;
        }

        body {
            font-family: Lato;
            font-weight: normal;
            font-style: normal;
            font-size: 16px;
        }

        body, .site-content, .layout-full .title-with-sep .title, .layout-full .title-with-sep .entry-title {
            background-color: #fff;
        }

        .entry-image, .paging-navigation .current, .link-pages span, .score-line span, .entry-breakdown .item .score-line, .widget_ti_most_commented span, .all-news-link .read-more {
            background-color: #ffcc0d;
        }

            .paging-navigation .current, .widget span i, .score-line span i, .all-news-link .read-more {
                color: #000000;
            }

        #masthead, .main-menu-fixed {
            background-color: #ffffff;
        }

        .top-strip, .secondary-menu .sub-menu, .top-strip #searchform input[type="text"], .top-strip .social li ul {
            background-color: #000000;
        }

        .top-strip {
            border-bottom: 0px solid #000;
        }

        .secondary-menu a {
            color: #ffffff;
        }

            .secondary-menu a:hover {
                color: #ffcc0d;
            }

        .secondary-menu li, .top-strip #searchform input[type="text"] {
            border-color: #333333;
        }

        .top-strip .social li a {
            color: #ffffff;
        }

        .main-menu, .sticky-active .main-menu-fixed {
            background-color: #ffffff;
        }

            .main-menu > ul > li > a {
                color: #000;
            }

                .main-menu > ul > li > a:hover {
                    color: #333;
                }

            .main-menu > ul > li:after {
                color: #eeeeee;
            }

        .main-menu {
            border-top: 1px solid #000;
            padding-right: 30px;
            padding-left: 30px;
        }



            .main-menu .sub-menu {
                border-top: 0px solid #000;
                border-bottom: 0px solid #000;
                border-left: 0px solid #000;
                border-right: 0px solid #000;
            }

            .main-menu .sub-menu, .main-menu .sub-menu-two-columns .sub-menu:before {
                background-color: #000000;
            }

        .sub-links li a {
            color: #ffffff;
        }

            .sub-links li a:hover {
                color: #ffcc0d;
            }

        .main-menu .sub-menu .sub-links a:after {
            background-color: transparent;
        }

        .main-menu .sub-menu:after {
            background-color: #242628;
        }

        .sub-posts li a {
            color: #ffffff;
        }

            .sub-posts li a:hover {
                color: #ffcc0d;
            }

        .modern .content-over-image figure:before {
            background-color: #000000;
        }

        .sidebar {
            border-top: 1px solid #000;
            border-bottom: 1px solid #000;
            border-left: 1px solid #000;
            border-right: 1px solid #000;
        }

        .slide-dock {
            background-color: #ffffff;
        }

            .slide-dock h3, .slide-dock a, .slide-dock p {
                color: #000000;
            }

        .footer-sidebar, .widget_ti_most_commented li a {
            background-color: #242628;
        }

            .footer-sidebar .widget h3 {
                color: #ffcc0d;
            }

        .footer-sidebar {
            color: #8c919b;
        }

            .footer-sidebar .widget a {
                color: #8c919b;
            }

                .footer-sidebar .widget a:hover {
                    color: #ffcc0d;
                }

            .widget-area-2, .widget-area-3, .footer-sidebar .widget {
                border-top: 1px dotted #585b61;
                border-bottom: 1px dotted #585b61;
                border-left: 1px dotted #585b61;
                border-right: 1px dotted #585b61;
            }

        .copyright {
            background-color: #222222;
        }

            .copyright, .copyright a {
                color: #8c919b;
            }

        .header-default {
            position: absolute;
            z-index: 999;
        }

        .logo {
            cursor: auto;
            display: block;
            float: none;
            font-family: BrownStd-light, sans-serif;
            height: 90px;
            position: absolute;
            text-decoration: none;
            width: 130px;
            z-index: 999;
            top: -8px;
            left: 100px;
        }

        .ad-container {
            position: relative;
            height: 120px;
            width: 100%;
        }

        .main-nav-container {
            max-width: 1240px;
            min-height: 100px;
            margin: 0 auto;
            padding-top: 24px;
            padding-right: 60px;
            padding-left: 60px;
            background-position: 250px 72px;
            background-repeat: no-repeat;
            position: relative;
            display: block;
        }

        .main-nav-top {
            display: block;
            height: 54px;
            margin: auto;
            width: 1050px;
            position: relative;
            float: right;
            left: auto;
            right: auto;
            top: auto;
            bottom: auto;
            vertical-align: top;
            padding-right: 30px;
        }

        .main-nav-social-menu {
            float: right;
        }

        .main-nav-social-menu-item {
            display: inline-block;
        }

        .main-nav-social-menu .facebook .main-nav-social-menu-item-button:hover {
            color: #3C5A9A;
        }

        .main-nav-social-menu-item-button {
            cursor: pointer;
            -webkit-transition: color 150ms ease-in-out;
            -moz-transition: color 150ms ease-in-out;
            -ms-transition: color 150ms ease-in-out;
            -o-transition: color 150ms ease-in-out;
            transition: color 150ms ease-in-out;
        }

        .social {
            float: right;
        }
    </style>

</head>
<body>
    <section class="ad-container">
        <div id="div-id-for-top-728x90" class="ad " data-cb-ad-id="Top Unit" data-ad-size="728x90,970x66,970x90,970x250,980x66,980x90,1240x90,970x250" data-sponsor="" data-pos="top"><div id="google_ads_iframe_/8904/r29.oao/home/index_1__container__" style="border: 0pt none;"><iframe id="google_ads_iframe_/8904/r29.oao/home/index_1" name="google_ads_iframe_/8904/r29.oao/home/index_1" width="728" height="90" scrolling="no" marginwidth="0" marginheight="0" frameborder="0" src="javascript:&quot;<html><body style='background:transparent'></body></html>&quot;" style="border: 0px; vertical-align: bottom;"></iframe></div></div>


    </section>

    <header id="masthead" role="banner" class="clearfix with-menu" itemscope="" itemtype="http://schema.org/WPHeader">
        <div class="main-nav-container">

            <a class="logo" href="~/">
                <img src="~/Images/logo.png" style="width:130px; height:120px;" alt="SimpleMag - Magazine Theme For Creative Stuff">
            </a><!-- Logo -->
            <div class="main-nav-top">
                <form method="post" id="searchform" action="/Search/">
                    <input type="text" name="s" id="s" value="Search" onfocus="if(this.value=='Search')this.value='';" onblur="if(this.value=='')this.value='Search';">
                    <button type="submit">
                        <i class="icomoon-search"></i>
                    </button>
                </form>
                <ul class="social">
                    <li>
                        <a href="index.html#" class="icomoon-share social-share-link"></a>
                        <ul>

                            <li><a href="https://www.facebook.com/maksimalistmag" class="icomoon-facebook" target="_blank"></a></li>
                            <li><a href="https://twitter.com/maksimalistmag" class="icomoon-twitter" target="_blank"></a></li>
               
                            <li><a href="https://www.pinterest.com/maksimalist/" class="icomoon-pinterest" target="_blank"></a></li>
                     
                            <li><a href="https://www.instagram.com/maksimalistmag/" class="icomoon-instagram" target="_blank"></a></li>
                            <li><a href="https://www.youtube.com/maksimalistmag/" class="icomoon-youtube" target="_blank"></a></li>

                        </ul>
                    </li>
                </ul>
            </div>

            <div class="no-print animated main-menu-container">
                <div style="display: block; height: 54px; margin: auto; width:1050px;position: relative; float: right; left: auto; right: auto; top: auto; bottom: auto; vertical-align: bottom;">
                    <div class="main-menu-fixed" style="position: relative; float:right;">
                        <nav class="main-menu" role="navigation" itemscope="itemscope" itemtype="http://schema.org/SiteNavigationElement">
                            <ul id="main-nav" class="menu">
                                <li id="menu-item-1094" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-links-only link-arrow">
                                    <a href="~/kategori/moda">MODA</a>
                                    <div class="sub-menu">
                                        <ul class="sub-links">
                                            <li id="menu-item-1087" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="standard-post/index.html">Standard post</a></li>
                                            <li id="menu-item-1088" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="gallery-post-format/index.html#comment-638">Post with comments</a></li>
                                            <li id="menu-item-1086" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="vimeo-video-post/index.html">Vimeo video post</a></li>
                                            <li id="menu-item-1083" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                <a href="sound-cloud-audio/index.html">Sound cloud audio</a>
                                                <div class="sub-menu">
                                                    <ul class="sub-links">
                                                        <li id="menu-item-1107" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1109" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1106" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1108" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li id="menu-item-1085" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="gallery-post-format/index.html">Gallery post format</a></li>
                                            <li id="menu-item-1084" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="wordpress-gallery/index.html">WordPress Gallery</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li id="menu-item-1094" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-links-only link-arrow">
                                    <a href="~/kategori/guzellik">GÜZELLİK</a>
                                    <div class="sub-menu">
                                        <ul class="sub-links">
                                            <li id="menu-item-1087" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="standard-post/index.html">Standard post</a></li>
                                            <li id="menu-item-1088" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="gallery-post-format/index.html#comment-638">Post with comments</a></li>
                                            <li id="menu-item-1086" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="vimeo-video-post/index.html">Vimeo video post</a></li>
                                            <li id="menu-item-1083" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                <a href="sound-cloud-audio/index.html">Sound cloud audio</a>
                                                <div class="sub-menu">
                                                    <ul class="sub-links">
                                                        <li id="menu-item-1107" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1109" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1106" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1108" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li id="menu-item-1085" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="gallery-post-format/index.html">Gallery post format</a></li>
                                            <li id="menu-item-1084" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="wordpress-gallery/index.html">WordPress Gallery</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li id="menu-item-1094" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-links-only link-arrow">
                                    <a href="~/kategori/alisveris">ALIŞVERİŞ</a>
                                    <div class="sub-menu">
                                        <ul class="sub-links">
                                            <li id="menu-item-1087" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="standard-post/index.html">Standard post</a></li>
                                            <li id="menu-item-1088" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="gallery-post-format/index.html#comment-638">Post with comments</a></li>
                                            <li id="menu-item-1086" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="vimeo-video-post/index.html">Vimeo video post</a></li>
                                            <li id="menu-item-1083" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                <a href="sound-cloud-audio/index.html">Sound cloud audio</a>
                                                <div class="sub-menu">
                                                    <ul class="sub-links">
                                                        <li id="menu-item-1107" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1109" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1106" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1108" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li id="menu-item-1085" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="gallery-post-format/index.html">Gallery post format</a></li>
                                            <li id="menu-item-1084" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="wordpress-gallery/index.html">WordPress Gallery</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li id="menu-item-1094" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-links-only link-arrow">
                                    <a href="~/kategori/unluler">ÜNLÜLER</a>
                                    <div class="sub-menu">
                                        <ul class="sub-links">
                                            <li id="menu-item-1087" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="standard-post/index.html">Standard post</a></li>
                                            <li id="menu-item-1088" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="gallery-post-format/index.html#comment-638">Post with comments</a></li>
                                            <li id="menu-item-1086" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="vimeo-video-post/index.html">Vimeo video post</a></li>
                                            <li id="menu-item-1083" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                <a href="sound-cloud-audio/index.html">Sound cloud audio</a>
                                                <div class="sub-menu">
                                                    <ul class="sub-links">
                                                        <li id="menu-item-1107" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1109" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1106" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1108" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li id="menu-item-1085" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="gallery-post-format/index.html">Gallery post format</a></li>
                                            <li id="menu-item-1084" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="wordpress-gallery/index.html">WordPress Gallery</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li id="menu-item-1094" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-links-only link-arrow">
                                    <a href="~/kategori/sehir-yasam">ŞEHİR-YAŞAM</a>
                                    <div class="sub-menu">
                                        <ul class="sub-links">
                                            <li id="menu-item-1087" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="standard-post/index.html">Standard post</a></li>
                                            <li id="menu-item-1088" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="gallery-post-format/index.html#comment-638">Post with comments</a></li>
                                            <li id="menu-item-1086" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="vimeo-video-post/index.html">Vimeo video post</a></li>
                                            <li id="menu-item-1083" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                <a href="sound-cloud-audio/index.html">Sound cloud audio</a>
                                                <div class="sub-menu">
                                                    <ul class="sub-links">
                                                        <li id="menu-item-1107" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1109" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1106" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1108" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li id="menu-item-1085" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="gallery-post-format/index.html">Gallery post format</a></li>
                                            <li id="menu-item-1084" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="wordpress-gallery/index.html">WordPress Gallery</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li id="menu-item-1094" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-links-only link-arrow">
                                    <a href="~/kategori/gelin">GELİN</a>
                                    <div class="sub-menu">
                                        <ul class="sub-links">
                                            <li id="menu-item-1087" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="standard-post/index.html">Standard post</a></li>
                                            <li id="menu-item-1088" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="gallery-post-format/index.html#comment-638">Post with comments</a></li>
                                            <li id="menu-item-1086" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="vimeo-video-post/index.html">Vimeo video post</a></li>
                                            <li id="menu-item-1083" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                <a href="sound-cloud-audio/index.html">Sound cloud audio</a>
                                                <div class="sub-menu">
                                                    <ul class="sub-links">
                                                        <li id="menu-item-1107" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1109" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1106" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1108" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li id="menu-item-1085" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="gallery-post-format/index.html">Gallery post format</a></li>
                                            <li id="menu-item-1084" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="wordpress-gallery/index.html">WordPress Gallery</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li id="menu-item-1094" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children sub-links-only link-arrow">
                                    <a href="~/kategori/video" style="color:#7ed798">MAKSİMALİST-VİDEO</a>
                                    <div class="sub-menu">
                                        <ul class="sub-links">
                                            <li id="menu-item-1087" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="standard-post/index.html">Standard post</a></li>
                                            <li id="menu-item-1088" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="gallery-post-format/index.html#comment-638">Post with comments</a></li>
                                            <li id="menu-item-1086" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="vimeo-video-post/index.html">Vimeo video post</a></li>
                                            <li id="menu-item-1083" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children">
                                                <a href="sound-cloud-audio/index.html">Sound cloud audio</a>
                                                <div class="sub-menu">
                                                    <ul class="sub-links">
                                                        <li id="menu-item-1107" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1109" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1106" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                        <li id="menu-item-1108" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="index.html#">Menu Item</a></li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li id="menu-item-1085" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="gallery-post-format/index.html">Gallery post format</a></li>
                                            <li id="menu-item-1084" class="menu-item menu-item-type-custom menu-item-object-custom"><a href="wordpress-gallery/index.html">WordPress Gallery</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <script type='text/javascript' src='~/Scripts/comment-reply.min-ver=4.0.js'></script>
    <script type='text/javascript' src='~/Scripts/jquery.flexslider-min-ver=2.2.2.js'></script>
    <script type='text/javascript' src='~/Scripts/jquery.caroufredsel-ver=6.2.1.js'></script>
    <script type='text/javascript' src='~/Scripts/jquery.assets-ver=1.0.js'></script>
    <script type='text/javascript' src='~/Scripts/jquery.custom-ver=1.0.js'></script>

</body>
@RenderBody()

</html>