@model Maksimalist.Models.Post

<li>
    @if (Model.HasGallery)
    {
        <a class="ga-trackable" href="~/post/galeri/@Model.Category.UrlSlug/@Model.SubCategory.UrlSlug/@Model.UrlSlug">
            <img style=" height:initial" src="@Model.ImageUrl" width="320" height="384">

            <h2 class="" style="word-wrap: break-word;"><span>@Model.Headline</span></h2>
        </a>
    }
    else
    {
        <a class="ga-trackable" href="~/post/@Model.Category.UrlSlug/@Model.SubCategory.UrlSlug/@Model.UrlSlug">
            <img style=" height:initial" src="@Model.ImageUrl" width="320" height="384">

            <h2 class="" style="word-wrap: break-word;"><span>@Model.Headline</span></h2>
        </a>
    }
                
    </li>
