@model Maksimalist.Models.Post

<li>
    <a class="ga-trackable" href="~/haber/@Model.Category.UrlSlug/@Model.SubCategory.UrlSlug/@Model.UrlSlug">

        <img style=" height:initial" src="@Model.ImageUrl" width="320" height="384">

        <h2 class="" style="word-wrap: break-word;"><span>@Model.Headline</span></h2>
    </a>
</li>
