
﻿@model Maksimalist.Models.Post

<article class="post-67 post type-post status-publish format-standard has-post-thumbnail hentry category-travel tag-nature tag-river tag-sky grid-4" style="width:350px;">

    <figure class="entry-image inview">
        <a href="~/haber/@Model.Category.UrlSlug/@Model.SubCategory.UrlSlug/@Model.UrlSlug">
            <img width="330" height="220" src="wp-content/uploads/sites/2/2013/05/typography-330x220.jpg" class="attachment-rectangle-size wp-post-image" alt="typography">
        </a>
    </figure>

    <header class="entry-header">
        <div class="entry-meta">
            <span class="entry-category"><a href="category/travel/index.html">Travel</a></span><time class="entry-date updated" datetime="2013-05-27T07:22:57+00:00" itemprop="datePublished">May 27, 2013</time>
        </div>
        <h2 class="entry-title">
            <a href="typography/index.html">Typography</a>
        </h2>
        <span class="vcard author">
            By                        <a href="author/jane/index.html" class="url fn n" rel="author">
                Jane Doe
            </a>
        </span>
    </header>

    <div class="entry-summary">
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes,…</p>
    </div>

</article>

