@model Maksimalist.Models.RightNavViewModel
<div class="grid-4 column-2" style="width:300px">
    <aside class="sidebar" role="complementary" itemscope="" itemtype="http://schema.org/WPSideBar">
        <div id="ti_latest_reviews-2" class="widget widget_ti_latest_reviews">
            <h3>Reklam Alanı.</h3>
            <figure>
                <a class="entry-link" href="gallery-post-format/index.html"></a>
                <img width="330" height="220" src="@Model.Advert.Url" class="attachment-rectangle-size wp-post-image" alt="8470852074_4031c64512_o">
            </figure>

        </div><div id="ti_latest_posts-3" class="widget widget_ti_latest_posts">
            <h3>Latest Posts</h3>
            <div class="widget-posts-entries">


                <ul class="clearfix">


                    <li>
                        <figure class="entry-image inview">
                            <a href="../gallery-post-format/index.html">
                                <img width="330" height="220" src="@Model.Post.ImageUrl" class="attachment-rectangle-size wp-post-image" alt="8470852074_4031c64512_o">
                            </a>
                        </figure>
                        <span><a href="../category/fashion/index.html">@Model.Post.Category.Name</a></span>                           	<a class="widget-post-title" href="../gallery-post-format/index.html">Gallery Post Format</a>
                    </li>


                    <li>
                        <figure class="entry-image inview">
                            <a href="../typography/index.html">
                                <img width="330" height="220" src="../wp-content/uploads/sites/2/2013/05/typography-330x220.jpg" class="attachment-rectangle-size wp-post-image" alt="typography">
                            </a>
                        </figure>
                        <span><a href="../category/travel/index.html">Travel</a></span>                           	<a class="widget-post-title" href="../typography/index.html">Typography</a>
                    </li>


                    <li>
                        <figure class="entry-image inview">
                            <a href="../sound-cloud-audio/index.html">
                                <img width="330" height="220" src="../wp-content/uploads/sites/2/2013/05/street-330x220.jpg" class="attachment-rectangle-size wp-post-image" alt="street">
                            </a>
                        </figure>
                        <span><a href="../category/music/index.html">Music</a></span>                           	<a class="widget-post-title" href="../sound-cloud-audio/index.html">Sound Cloud Audio</a>
                    </li>


                </ul>
            </div>

        </div><div id="ti_most_commented-2" class="widget widget_ti_most_commented">
            <h3>Most Commented</h3>
            <ul>
                <li class="clearfix score-1">
                    <span>
                        <i>7</i>
                    </span>
                    <a href="../gallery-post-format/index.html">
                        Gallery Post Format
                    </a>
                </li>
                <li class="clearfix score-2">
                    <span>
                        <i>3</i>
                    </span>
                    <a href="../pellentesque-habitant-morbi/index.html">
                        Pellentesque habitant morbi
                    </a>
                </li>
                <li class="clearfix score-3">
                    <span>
                        <i>2</i>
                    </span>
                    <a href="../cum-sociis-natoque/index.html">
                        Cum sociis natoque
                    </a>
                </li>
            </ul>

        </div><div id="ti_site_authors-4" class="widget widget_ti_site_authors">
            <h3>Our Authors</h3>
            <div class="inner">
                <div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 280px; height: 55px; margin: 0px; overflow: hidden;">
                    <ul class="carousel" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 3px; margin: 0px; width: 940px; height: 55px;">

                        <li class="clearfix">
                            <a class="author-avatar" href="../author/jane/index.html" title="Jane Doe" rel="author">
                                <img alt="Jane Doe" src="../wp-content/uploads/sites/2/2013/05/avatar-1.jpg" class="avatar avatar-78 photo" height="78" width="78">
                            </a>
                        </li>





                        <li class="clearfix">
                            <a class="author-avatar" href="../author/BillKing/index.html" title="Bill King" rel="author">
                                <img alt="Bill King" src="http://themesindep.com/simplemag/wp-content/uploads/sites/2/2013/05/avatar-11.jpg" class="avatar avatar-78 photo" height="78" width="78">
                            </a>
                        </li>





                        <li class="clearfix">
                            <a class="author-avatar" href="../author/ChristopherHughes/index.html" title="Christopher Hughes" rel="author">
                                <img alt="Christopher Hughes" src="../wp-content/uploads/sites/2/2013/05/avatar-7-78x78.jpg" class="avatar avatar-78 photo" height="78" width="78">
                            </a>
                        </li>





                        <li class="clearfix">
                            <a class="author-avatar" href="../author/CurtisThomas/index.html" title="Curtis Thomas" rel="author">
                                <img alt="Curtis Thomas" src="../wp-content/uploads/sites/2/2013/05/avatar-10.jpg" class="avatar avatar-78 photo" height="78" width="78">
                            </a>
                        </li>





                        <li class="clearfix" style="margin-right: 2px;">
                            <a class="author-avatar" href="../author/EricGraham/index.html" title="Eric Graham" rel="author">
                                <img alt="Eric Graham" src="../wp-content/uploads/sites/2/2013/05/avatar-9.jpg" class="avatar avatar-78 photo" height="78" width="78">
                            </a>
                        </li>





                        <li class="clearfix">
                            <a class="author-avatar" href="../author/LynnRoberts/index.html" title="Lynn Roberts" rel="author">
                                <img alt="Lynn Roberts" src="../wp-content/uploads/sites/2/2013/05/avatar-5.jpg" class="avatar avatar-78 photo" height="78" width="78">
                            </a>
                        </li>




                    </ul>
                </div><div class="caroufredsel_wrapper" style="display: block; text-align: start; float: none; position: relative; top: auto; right: auto; bottom: auto; left: auto; z-index: auto; width: 280px; height: 55px; margin: 0px; overflow: hidden;">
                    <ul id="carouselX" class="carousel" style="text-align: left; float: none; position: absolute; top: 0px; right: auto; bottom: auto; left: 3px; margin: 0px; width: 940px; height: 55px;">




                        <li class="clearfix">
                            <a class="author-avatar" href="../author/JackRiley/index.html" title="Jack Riley" rel="author">
                                <img alt="Jack Riley" src="../wp-content/uploads/sites/2/2013/05/avatar-8.jpg" class="avatar avatar-78 photo" height="78" width="78">
                            </a>
                        </li>





                        <li class="clearfix">
                            <a class="author-avatar" href="../author/EricBishop/index.html" title="Eric Bishop" rel="author">
                                <img alt="Eric Bishop" src="../wp-content/uploads/sites/2/2013/05/avatar-3.jpg" class="avatar avatar-78 photo" height="78" width="78">
                            </a>
                        </li>





                        <li class="clearfix">
                            <a class="author-avatar" href="../author/VincentMiller/index.html" title="Vincent Miller" rel="author">
                                <img alt="Vincent Miller" src="../wp-content/uploads/sites/2/2013/05/avatar-5.jpg" class="avatar avatar-78 photo" height="78" width="78">
                            </a>
                        </li>





                        <li class="clearfix">
                            <a class="author-avatar" href="../author/GloriaPatterson/index.html" title="Gloria" rel="author">
                                <img alt="Gloria" src="../wp-content/uploads/sites/2/2014/07/Gloria_avatar_1406586316-78x78.jpg" class="avatar avatar-78 photo" height="78" width="78">
                            </a>
                        </li>





                        <li class="clearfix" style="margin-right: 2px;">
                            <a class="author-avatar" href="../author/ShirleyMorgan/index.html" title="Shirley Morgan" rel="author">
                                <img alt="Shirley Morgan" src="../wp-content/uploads/sites/2/2014/08/Gloria_avatar_1406586316-78x78.jpg" class="avatar avatar-78 photo" height="78" width="78">
                            </a>
                        </li>





                        <li class="clearfix">
                            <a class="author-avatar" href="../author/KarenBlack/index.html" title="Karen Black" rel="author">
                                <img alt="Karen Black" src="../wp-content/uploads/sites/2/2013/05/avatar-1.jpg" class="avatar avatar-78 photo" height="78" width="78">
                            </a>
                        </li>

                    </ul>
                </div>

                <div class="clearfix">
                    <a class="prev carousel-nav" href="index.html#" style="display: block;"><i class="icomoon-chevron-left"></i></a>
                    <a class="next carousel-nav" href="index.html#" style="display: block;"><i class="icomoon-chevron-right"></i></a>
                </div>

            </div>

       
          
       

      <div id="tag_cloud-3" class="widget widget_tag_cloud">
            <h3>Tags</h3><div class="tagcloud">
                <a href="../tag/audio/index.html" class="tag-link-24" title="1 topic" style="font-size: 8pt;">Audio</a>
                <a href="../tag/black-n-white/index.html" class="tag-link-19" title="6 topics" style="font-size: 16.020833333333pt;">Black n White</a>
                <a href="../tag/city/index.html" class="tag-link-23" title="2 topics" style="font-size: 10.625pt;">City</a>
                <a href="../tag/creative/index.html" class="tag-link-14" title="17 topics" style="font-size: 22pt;">Creative</a>
                <a href="../tag/forest/index.html" class="tag-link-25" title="1 topic" style="font-size: 8pt;">forest</a>
                <a href="../tag/lake/index.html" class="tag-link-20" title="1 topic" style="font-size: 8pt;">Lake</a>
                <a href="../tag/music/index.html" class="tag-link-12" title="5 topics" style="font-size: 15pt;">Music</a>
                <a href="../tag/nature/index.html" class="tag-link-17" title="8 topics" style="font-size: 17.479166666667pt;">Nature</a>
                <a href="../tag/paris/index.html" class="tag-link-22" title="1 topic" style="font-size: 8pt;">Paris</a>
                <a href="../tag/portrait/index.html" class="tag-link-16" title="6 topics" style="font-size: 16.020833333333pt;">Portrait</a>
                <a href="../tag/river/index.html" class="tag-link-15" title="3 topics" style="font-size: 12.375pt;">River</a>
                <a href="../tag/sky/index.html" class="tag-link-21" title="4 topics" style="font-size: 13.833333333333pt;">Sky</a>
                <a href="../tag/travel/index.html" class="tag-link-6" title="1 topic" style="font-size: 8pt;">Travel</a>
                <a href="../tag/video/index.html" class="tag-link-13" title="2 topics" style="font-size: 10.625pt;">Video</a>
            </div>
        </div>
    </aside><!-- .sidebar -->
</div>