@model Maksimalist.Models.Gallery
<!DOCTYPE html>
<html>


<head>
    <meta charset="utf-8">
    <title>Eheh</title>
    <!-- Latest compiled and minified CSS -->

    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

    <link href="~/Content/dropzone.css" rel="stylesheet" />
    <script src="~/Scripts/dropzone.js"></script>
    <style>
        html, body {
            height: 100%;
        }

        #actions {
            margin: 2em 0;
        }


        /* Mimic table appearance */
        div.table {
            display: table;
        }

            div.table .file-row {
                display: table-row;
            }

                div.table .file-row > div {
                    display: table-cell;
                    vertical-align: top;
                    border-top: 1px solid #ddd;
                    padding: 8px;
                }

                div.table .file-row:nth-child(odd) {
                    background: #f9f9f9;
                }



        /* The total progress gets shown by event listeners */
        #total-progress {
            opacity: 0;
            transition: opacity 0.3s linear;
        }

        /* Hide the progress bar when finished */
        #previews .file-row.dz-success .progress {
            opacity: 0;
            transition: opacity 0.3s linear;
        }

        /* Hide the delete button initially */
        #previews .file-row .delete {
            display: none;
        }

        /* Hide the start and cancel buttons and show the delete button */

        #previews .file-row.dz-success .start,
        #previews .file-row.dz-success .cancel {
            display: none;
        }

        #previews .file-row.dz-success .delete {
            display: block;
        }
    </style>
    <script>
    var Dropzone = require("enyo-dropzone");
    Dropzone.autoDiscover = false;


    </script>


</head>
<body>


    <input id="GalleryName" class="form-control " style="width:30%; margin: 2em 1em;" value="@Model.Name" disabled/>
    <div id="actions" class="row">

        <div class="col-lg-7">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="btn btn-success fileinput-button">
                <i class="glyphicon glyphicon-plus"></i>
                <span>Add files...</span>
            </span>
            <button type="submit" class="btn btn-primary start">
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start upload</span>
            </button>
            <button value="Create" onclick="location.href='@Url.Action("Edit", "Gallery", new {area="mmadmin" })'" class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Next</span>
            </button>
        </div>

        <div class="col-lg-5">
            <!-- The global file processing state -->
            <span class="fileupload-process">
                <div id="total-progress" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                </div>
            </span>
        </div>

    </div>



    <div class="table table-striped" class="files" id="previews">

        <div id="template" class="file-row">
            <!-- This is used as the file preview template -->
            <div>
                <span class="preview"><img data-dz-thumbnail /></span>
            </div>
            <div>
                <p class="name" data-dz-name></p>
                <strong class="error text-danger" data-dz-errormessage></strong>
            </div>
            <div>
                <p class="size" data-dz-size></p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0">
                    <div class="progress-bar progress-bar-success" style="width:0%;" data-dz-uploadprogress></div>
                </div>
            </div>
            <div>

                <button data-dz-remove class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
                <button data-dz-remove class="btn btn-danger delete">
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
            </div>
        </div>

    </div>

    <script>
    // Get the template HTML and remove it from the doument
    var previewNode = document.querySelector("#template");
    previewNode.id = "";
    var previewTemplate = previewNode.parentNode.innerHTML;
    previewNode.parentNode.removeChild(previewNode);

    var myDropzone = new Dropzone(document.body, { // Make the whole body a dropzone
        url: "@Url.Action("Add", "Gallery", new { area = "mmadmin" })",
        thumbnailWidth: 80,
        thumbnailHeight: 80,
        parallelUploads: 100,
        maxFiles: 100,
        maxFilesize: 1000,
        uploadMultiple: true,
        previewTemplate: previewTemplate,
        autoQueue: false, // Make sure the files aren't queued until manually added
        previewsContainer: "#previews", // Define the container to display the previews
        clickable: ".fileinput-button" // Define the element that should be used as click trigger to select files.
    });



    // Update the total progress bar
    myDropzone.on("totaluploadprogress", function (progress) {
        document.querySelector("#total-progress .progress-bar").style.width = progress + "%";
    });


    myDropzone.on("sending", function (file, xhr, formData) {

        formData.append("GalleryName", document.getElementById('GalleryName').value);
        document.querySelector("#total-progress").style.opacity = "1";
        // And disable the start button

    });


    // Hide the total progress bar when nothing's uploading anymore
    myDropzone.on("queuecomplete", function (progress) {
        document.querySelector("#total-progress").style.opacity = "0";
        window.location = '../Index';
    });

    // Setup the buttons for all transfers
    // The "add files" button doesn't need to be setup because the config
    // `clickable` has already been specified.
    document.querySelector("#actions .start").onclick = function () {

            var name = $.trim($('#GalleryName').val());

            // Check if empty of not
            if (name === '') {
                alert('Galeri Adı Gir');
                return false;
            }

        myDropzone.enqueueFiles(myDropzone.getFilesWithStatus(Dropzone.ADDED));
    };

    </script>






</body>
</html>