@model Maksimalist.Models.Gallery
@{
   
    Layout = null;
}
<head>
    <title>Edit</title>
    

    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    
    <style>
        #sortable {
            list-style-type: decimal;
           
        }


       

        #actions {
            margin: 2em 0;
        }


        /* Mimic table appearance */
        div.table {
            display: table;
        }

            div.table .file-row {
                display: table-row;
            }

                div.table .file-row > div {
                    display: table-cell;
                    vertical-align: top;
                    border-top: 1px solid #ddd;
                    padding: 8px;
                }

                div.table .file-row:nth-child(odd) {
                    background: #f9f9f9;
                }



        /* The total progress gets shown by event listeners */
        #total-progress {
            opacity: 0;
            transition: opacity 0.3s linear;
        }

        /* Hide the progress bar when finished */
        #previews .file-row.dz-success .progress {
            opacity: 0;
            transition: opacity 0.3s linear;
        }

        /* Hide the delete button initially */
        #previews .file-row .delete {
            display: none;
        }

        /* Hide the start and cancel buttons and show the delete button */

        #previews .file-row.dz-success .start,
        #previews .file-row.dz-success .cancel {
            display: none;
        }

        #previews .file-row.dz-success .delete {
            display: block;
        }
    </style>
    <script>
    $(function () {
        $("#sortable").sortable();
        $("#sortable").disableSelection();
    });
    </script>
</head>

<h2>Edit</h2>

@using (Html.BeginForm())
{

    <div class="table table-striped files" id="previews">
        <h1>Gallery Id: @Model.Id</h1>
        <ul id="sortable">

            @foreach (var item in Model.Matter)
            {
                
                <li class="ui-state-default">
                    <div class="file-row dz-image-preview" >
                        <!-- This is used as the file preview template -->
                      
                        <div>
                            <span class="preview"><img style="width:80px;height:80px;" src="@item.Url"></span>
                        </div>
                        <div>
                           <input type="hidden" name="id" value="@item.Id"/>
                  
                        </div>
                        <div>
                            <textarea class="form-control"rows="4" cols="100" name="Content">@item.Content</textarea>
                        </div>


                    </div>
                </li>
            }


        </ul>
    </div>
    <button type="Submit">Save</button>
}


