@model Maksimalist.Models.Category

@{
    ViewBag.Title = "Details";
   
}

<section id="content" role="main" class="clearfix animated">
    <div class="wrapper">


        <header class="entry-header page-header">
            <div class="title-with-sep page-title">
                <h1 class="entry-title">
                    @Model.Name
                </h1>
            </div>
        </header>








        <div class="grids masonry-layout entries" style="position: relative; height: 1100px;">
            @foreach(var i in Model.Posts){
                @Html.Partial("_ModaPost", i)
            }
        </div>



    </div>
</section>