<p>Video Genişliği: 850px</p>
<p>Manset Boyutları: 460 x 552</p>
<p>Şehir-Yaşam ve Gelin: 350 x 180</p>
<p>Gündem Olmayanlar İçin Manset Boyutları: 330 x 220</p>

<p>Galeri postleri İçin İlk Önce Galeri Yaratılır. Daha Sonra post Yaratırken Gallery Id Kısmına Id'si Girilir</p>
<p>Aynı Haberin Veya Galerinin İçinde Başlıkla Aynı İsimli Fotoğraf Olmamalıdır</p>


