@{
    Layout = null;
}
<head>
    <title>Maksimalist</title>
    <meta name="description" content="Moda ve Daha Fazlası, Yakında" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="~/Scripts/Popup.js"></script>
    <style>
        body {
            margin: 0px;
        }

        .btn-default {
            color: #333;
            background-color: #fff;
            border-color: #ccc;
        }

        @@font-face {
            font-family: 'FuturaStd-BookOblique';
            src: url('../../fonts/FuturaTurkBook.ttf') format('truetype');
        }


        p, form, button {
            font-family: FuturaStd-BookOblique;
            font-size: 20px;
            text-align: center;
        }

        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            -ms-touch-action: manipulation;
            touch-action: manipulation;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
            background-color: #222222;
            color: white;
        }

        img {
            height: 100%;
            width: 100%;
        }

        form {
            margin: 0px;
        }

        .button.b-close, .button.bClose {
            border-radius: 7px 7px 7px 7px;
            box-shadow: none;
            font: bold 131% sans-serif;
            padding: 0 6px 2px;
            position: absolute;
            right: -7px;
            top: -7px;
        }

        .button {
            background-color: #222222;
            border-radius: 10px;
            box-shadow: 0 2px 3px rgba(0,0,0,0.3);
            color: #fff;
            cursor: pointer;
            display: inline-block;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
        }

        #popup, .bMulti {
            min-height: 150px;
        }

        #popup, #popup2, .bMulti {
            background-color: #fff;
            border-radius: 10px 10px 10px 10px;
            box-shadow: 0 0 25px 5px #999;
            color: #111;
            display: none;
            min-width: 450px;
            padding: 25px;
        }

        ::selection {
            background-color: #2b91af;
            color: #fff;
            text-shadow: none;
        }

        #Email {
            width: 83%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #ccc;
            border-radius: 4px;
            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
            -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
            -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
            transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        }

        }
    </style>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-57948664-1', 'auto');
        ga('send', 'pageview');

    </script>

</head>
<body>
    <img src="~/Content/Soon_03.gif" />

    <div id="popup" style="height: 200px;left: 433px; position: absolute; top: 621.5px; z-index: 9999; opacity: 0; display: none;padding-top:50px;">
        <span class="button b-close"><span>X</span></span>
        <p>MODA VE DAHA FAZLASI, YAKINDA</p>
        <input type="email" class="form-control" id="Email" placeholder="Email" name="Email">
        <button type="button" class="btn btn-default">Kaydet</button>
        <p id="Feedback"></p>
    </div>

    <script>
        jQuery(document).ready(function () {
            setTimeout(function () {
                $('#popup').bPopup({
                    appendTo: 'form'
                });
            }, 3500);
        });

        $(".btn").click(function () {
            var self = $("#Email");
            var items = "";
            $.getJSON("/getResult/" + self.val() + "/kaydet",
                                                                function (data) {

                                                                    $("#Feedback").html(data);
                                                                });
        });
    </script>
</body>