@{
    ViewBag.Title = "Contact";
    Layout = null;
}
<head>
    <title>Deneme</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">

    <link rel="stylesheet" href="~/bootstrap-tagsinput/bootstrap-tagsinput.css">

    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>


      
<body>
    <input type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo" data-role="tagsinput">
    

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
    
    <script src="~/bootstrap-tagsinput/bootstrap-tagsinput-angular.js"></script>

</body>